@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&display=swap');
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
:root{
	--theme-orange:#f26226;
	--theme-dark:#303236;
}
​
::selection {
  background: var(--theme-orange);
  color: #fff;
  /* WebKit/Blink Browsers */
}
​
::-moz-selection {
  background: var(--theme-orange);
  color: #fff;
  /* Gecko Browsers */
}
/*::placeholder { color: #c5c5c5 !important; font-weight: 300 !important }*/
​
/*General properties*/
​
.btn-orange{
	background: var(--theme-orange);
	border:1px solid var(--theme-orange);
}
body{
	font-family: 'Hind', sans-serif;
}
/*//////////////////*/
.header__section{
	background-image: url(https://images.pexels.com/photos/1418355/pexels-photo-1418355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    height: 750px;
    background-size: cover;
    background-blend-mode: overlay;
    background-position: top;
    background-color: #0009;
}
​
.header__section .welcome__section{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 700px;
	color: #fff;
}
.header__section .welcome__section h1{
	font-weight: 600;
	margin-bottom:1rem;
	font-size: 46px;
}
.header__section .welcome__section button{
	color: #fff;
	font-size: 13px;
	padding: 10px 40px;
}
​
​
/*What we do setion*/
.what_we_do{
	margin-top:4.7rem;
}
.what_we_do h3{
	font-size: 40px;
	font-weight: 800;
	margin-top: 1.3rem;
	color: var(--theme-dark);
	margin-bottom: 1rem;
}
.what_we_do p{
	font-size: 23px;
	color: #6a6d75;
	line-height: 1.6;
}
​
​
/*///////////*/
​
/*Start Serving*/
.start_serving{
	margin-top: 4.7rem;
​
}
.start_serving h3{
	font-size: 40px;
	font-weight: 800;
	margin-top: 1.3rem;
	color: var(--theme-dark);
	margin-bottom: 1rem;
}
.start_serving p{
	font-size: 23px;
	color: #6a6d75;
	line-height: 1.6;
}
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&display=swap');
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
:root{
	--theme-orange:#f26226;
	--theme-dark:#303236;
}
​
::selection {
  background: var(--theme-orange);
  color: #fff;
  /* WebKit/Blink Browsers */
}
​
::-moz-selection {
  background: var(--theme-orange);
  color: #fff;
  /* Gecko Browsers */
}
::placeholder { color: #c5c5c5 !important; font-weight: 300 !important }
​
/*General properties*/
​
.btn-orange{
	background: var(--theme-orange);
	border:1px solid var(--theme-orange);
}
body{
	font-family: 'Hind', sans-serif;
}
/*//////////////////*/
.header__section{
	background-image: url(https://images.pexels.com/photos/1418355/pexels-photo-1418355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    height: 750px;
    background-size: cover;
    background-blend-mode: overlay;
    background-position: top;
    background-color: #0009;
}
​
.header__section .welcome__section{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 700px;
	color: #fff;
}
.header__section .welcome__section h1{
	font-weight: 600;
	margin-bottom:1rem;
	font-size: 46px;
}
.header__section .welcome__section button{
	color: #fff;
	font-size: 13px;
	padding: 10px 40px;
}
​
​
/*What we do setion*/
.what_we_do{
	margin-top:4.7rem;
}
.what_we_do h3{
	font-size: 40px;
	font-weight: 800;
	margin-top: 1.3rem;
	color: var(--theme-dark);
	margin-bottom: 1rem;
}
.what_we_do p{
	font-size: 23px;
	color: #6a6d75;
	line-height: 1.6;
}
​
​
/*///////////*/
​
/*Start Serving*/
.start_serving{
	margin-top: 4.7rem;
​
}
.start_serving h3{
	font-size: 40px;
	font-weight: 800;
	margin-top: 1.3rem;
	color: var(--theme-dark);
	margin-bottom: 1rem;
}
.start_serving p{
	font-size: 23px;
	color: #6a6d75;
	line-height: 1.6;
}
